<h1>Bucando: <small><i>"{{ termino }}"</i></small></h1>

<hr>

<div class="row animated fadeIn fast" *ngIf="!heroes.length > 0">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      No existen resultados de busqueda con el termino "{{ termino }}"
    </div>
  </div>
</div>

<div class="card-columns">
  <app-heroe-tarjeta *ngFor="let heroe of heroes;" [heroe]="heroe" [heroeId]="heroe.idx" (selectedHeroe)="verHeroe($event)" ></app-heroe-tarjeta>

</div>
