<h1 class="animated fadeIn fast">ABOUT PAGE</h1>
<hr>
<p class="animated fadeIn">
  Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló d
</p>
