<h1>Heroes <small>Marvel y DC</small></h1>

<hr>

<div class="card-columns">

   <!-- *ngFor="let heroe of heroes; let i= index" -->
   <app-heroe-tarjeta *ngFor="let heroe of heroes; let i= index" [heroe]="heroe" [heroeId]="i" (selectedHeroe)="verHeroe($event)" ></app-heroe-tarjeta>



</div>
