<h1 class="animated fadeIn"> {{ heroe.nombre|uppercase }} <small> ({{ heroe.aparicion | date:'y' }}) </small></h1>
<hr>
<div class="row animated fadeIn fast">
  <div class="col-md-4">
    <img [src]="heroe.img" class="img-fluid" [alt]="heroe.nombre">
    <br><br>
    <a class="btn btn-outline-primary btn-block" href="heroes">Regresar</a>
  </div>

  <div class="col-md-8">
    <h3>{{ heroe.nombre }}</h3>
    <hr>
    <p>{{ heroe.bio }}</p>
    <div class="">

      <!-- <img class="img-logo" src="assets/img/icon_{{ heroe.casa }}.png" [alt]="heroe.casa"> -->


      <img *ngIf="heroe.casa == 'DC'" class="img-logo" src="assets/img/icon_DC.png" [alt]="heroe.casa">
      <img *ngIf="heroe.casa == 'Marvel'" class="img-logo" src="assets/img/icon_Marvel.png" [alt]="heroe.casa">
    </div>
  </div>
</div>
